<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Услуги | Транспортно- логистические услуги </title>
	<!-- viewport -->
	<meta name="viewport" content="width=device-width,
	initial-scale=1">
	<!-- meta tags -->
	<meta name="description" content="Вам нужна помощь с логистикой? Свяжитесь с нами и мы решим ваши проблемы.">
	<meta name="keywords" content="Логистика, бизнес, консалтинг, финансовый, аутсорсинг, юридическое, сопровождение">
	<!-- favicon -->
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9W_jgafPJvsDW4rfpqFjCE0j46XJt8Zz3kBMHrbbm20LyCtf5" type="image/x-icon">
 	<link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9W_jgafPJvsDW4rfpqFjCE0j46XJt8Zz3kBMHrbbm20LyCtf5" type="image/x-icon"> 
 	<!-- OG tags -->
	<meta property="og:title" content="LAB Consulting">
	<meta property="og:description" content="Ваш надежный партнер в области логистики">
	<meta property="og:type" content="article">
	<meta property="og:image" content="https://cdn.freelance.ru/img/portfolio/pics/00/37/37/3618699.jpg?mt=942afa73">
	<meta property="og:site_name" content="Lab Consulting">
	<!-- Open Sans google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<!-- FONTS AWESOME -->
	<script src="https://kit.fontawesome.com/37b6746c25.js"></script>
	<!-- bootstrap reboot CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<!-- bootstrap  CSS -->
	<link rel="stylesheet"  href="css/bootstrap.min.css">
	<!-- Slick slider -->
	<link rel="stylesheet" href="css/slick.css">
	<!-- Slick slider theme -->
	<link rel="stylesheet" href="css/slick-theme.css">
	<!-- modal window -->
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<!-- main CSS -->
	<link rel="stylesheet" href="css/main.css">
	<!-- Media Queries CSS -->
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<!-- Preloader:start -->
	<!-- js -->
	<div id="page-preloader">
		<!-- css -->
		<div class="cssload-loader">
			<div class="cssload-flipper">
				<div class="cssload-front"></div>
				<div class="cssload-back"></div>
			</div>
		</div>
		<!-- /css -->
	<!-- /js -->
	</div>
	<!-- Preloader:finish -->
	
	<!-- header -->
	<header class="header header__inner" id="header">
		<div class="hat hat_grey">
	<!-- hat -->
			<div class="container">
				<div class="row d-flex align-items-center ">
					<div class=" col-7 col-sm-7 col-lg-4">
						<a href="index.html" class="logo__link">
							<img class="logo__img" src="img/logo.png" alt="LAB Consulting">
						</a>
					</div>
					<div class="d-none d-lg-block col-lg-6 menu-hamburger">
						<nav class="menu">
							<ul class="menu__list d-flex justify-content-between">
								<li class="menu__item">
									<a class="menu__link" href="about.html">О компании</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#">Пресс-центр</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="services.html">Услуги</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#">Отрасли</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="contacts.html">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-5 col-sm-5 col-lg-2 d-flex justify-content-end">
					<!-- button -->
						<button class="button button_hat" type="button">
							<i class="fas fa-phone button__icon button__icon_hat"></i>
							<p class="button__text button__text_hat">
								Заказать звонок
							</p>
						</button>
						<button type="button" class="hamburger">
							<i class="fas fa-bars hamburger__icon"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	<!-- header-nav -->
		<div class="header-nav">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 col-xl-5">
						<h1 class="header-nav__title">
							Услуги
						</h1>
						<div class="header-nav__breadcrumbs header-nav__breadcrumbs_services">
							<a href="index.html" class="header-nav__link">
								Главная
							</a>
							<p class="header-nav__text">
								&rarr; Услуги
							</p>
						</div>
					</div>
					<div class="col-lg-9 col-xl-7">
						<nav class="nav">
							<ul class="nav__list nav__list_services ">
								<li class="nav__item">
									<a href="#law" class="nav__link nav__link_services active">
										Legal 
										<span class="nav__link_small">Юридическое сопровождение</span>
									</a>
								</li>
								<li class="nav__item">
									<a href="#law-bot" class="nav__link nav__link_services">
									    Accounting
									    <span class="nav__link_small">Финансовый аутсорсинг</span>       
									</a>
								</li>
								<li class="nav__item">
									<a href="#advice"  class="nav__link nav__link_services">
										Business Consulting
										<span class="nav__link_small">Бизнес консалтинг</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>	
		</div>	
	</header>
	<!-- law-->
	<section class="law" id="law">
		<div class="law-top">
			<div class="container">
				<div class="row ">
					<div class="col-md-4 col-lg-3">
						<img class="law-top__img" src="img/services/services-img.png" alt="Юридическое сопровождение">
					</div>
					<div class="col-md-8 col-lg-4">
						<h2 class="law-top__title">
							Юридическое<br> сопровождение
						</h2>
						<p class="law-top__text">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
						</p>
					</div>
					<div class="d-none d-lg-block offset-lg-1 col-lg-4">
						<div class="law-top__links">
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									Подкатегория услуг первая
								</a>
							</div>
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									Вторая подкатегория
								</a>
							</div>	
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									Маленькая услуга
								</a>
							</div>	
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									Довольно длинная и замысловатая
								</a>
							</div>	
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									Ещё одна
								</a>
							</div>	
							<div class="law-top__item">
								<div class="law-top__aarow">
									&rarr;
								</div>
								<a href="#" target="_blank" class="law-top__link">
									И ещё одна в конце
								</a>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- law-bot -->
		<div class="law-bot" id="law-bot">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="category">
							<h2 class="category__title">
								Вторая подкатегория
							</h2>
							<p class="category__text">
								But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
							</p>
							<p class="category__text">
								To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
							</p>
							<p class="category__text">
								To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
							</p>
							<p class="category__text">
								Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
							</p>
							<p class="category__text">
								To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
							</p>
							<p class="category__text">
								No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
							</p>
						</div>
						<div class="advice" id="advice">
							<h3 class="advice__title">
								Нужна бесплатная консультация?
							</h3>
							<div class="advice__string">
								<button class="advice__button" type="button">
									Оставить заявку
								</button>
								<a class="advice__phone" href="tel:+380487542356">+38 (048) 754-23-56</a>
							</div>
							<p class="advice__text">
								Наши консультанты свяжутся с Вами максимально быстро и ответят на все интересующие Вас вопросы
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<aside class="aside">
							<div class="side">
								<h3 class="side__title">
									Навигация
								</h3>
								<ul class="side__list">
									<li class="side__item">
										<div class="side__icon"></div>
										<a href="#" target="_blank" class="side__link">
											Подпункт номер один
										</a>
									</li>
									<li class="side__item">
										<div class="side__icon"></div>
										<a href="#" target="_blank" class="side__link">
											Второй подпункт
										</a>
									</li>
									<li class="side__item">
										<div class="side__icon"></div>
										<a href="#" target="_blank" class="side__link">
											Третья подкатегория c длинным названием
										</a>
									</li>
									<li class="side__item">
										<div class="side__icon"></div>
										<a href="#" target="_blank" class="side__link">
											Категория номер четыре
										</a>
									</li>
								</ul>
							</div>
							<div class="review">
								<h3 class="review__title">
									Отзывы
								</h3>
								<div class="slider">
									<div class="slider__element">
										<img class="slider__photo" src="img/services/user-img.png" alt="Фото пользователя">
										<p class="slider__heading">
											Валерий Цукерберг
										</p>
										<p class="slider__text">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</p>
										<i class="fab fa-facebook-f slider__icon"></i>
									</div>
									<div class="slider__element">
										<img class="slider__photo" src="img/services/user-img.png" alt="Фото пользователя">
										<p class="slider__heading">
											Валерий Цукерберг
										</p>
										<p class="slider__text">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</p>
										<i class="fab fa-facebook-f slider__icon"></i>
									</div>
									<div class="slider__element">
										<img class="slider__photo" src="img/services/user-img.png" alt="Фото пользователя">
										<p class="slider__heading">
											Валерий Цукерберг
										</p>
										<p class="slider__text">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</p>
										<i class="fab fa-facebook-f slider__icon"></i>
									</div>
								</div>
							</div>
						</aside>	
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer -->
	<footer class="footer" id="footer">
		<!-- info -->
		<div class="info">
			<div class="container">
				<nav class="row">
					<div class=" col-sm-6 col-md-6 col-lg-4">
						<a href="about.html" class="info__main-link">
							О компании
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Видение, миссия и ценности
								</a>
							</li>
							<li class="info__element">
								<a href="about.html#advantage" target="_blank" class="info__link">
									Преимущества
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Клиенты
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Партнеры
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<a href="#" class="info__main-link">
							Пресс – центр
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Новости
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Публикации
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Мероприятия
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<a href="services.html" class="info__main-link">
							Услуги
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="services.html#law" target="_blank" class="info__link">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li class="info__element">
								<a href="services.html#law-bot" target="_blank" class="info__link">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li class="info__element">
								<a href="services.html#advice" target="_blank" class="info__link">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<a href="#" class="info__main-link">
							Отрасли
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Аграрный сектор
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									ИT – бизнес
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Оптовая и розничная торговля
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Сфера услуг
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<a href="#" class="info__main-link">
							Образовательный центр
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Про Образовательный Центр
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Преимущества
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Alumni
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
						<a href="#" class="info__main-link">
							Соц. предпринимательство
						</a>
						<ul class="info__list">
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Социальная миссия
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Проекты 
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Партнеры 
								</a>
							</li>
							<li class="info__element">
								<a href="#" target="_blank" class="info__link">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<!-- footer hat	 -->
		<div class="fh">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-4 col-lg-4">
						<a href="#header" class="logo__link">
							<img src="img/logo-footer.png" alt="LAB Consulting" class="footer-logo">
						</a>
					</div>
					<div class="col-md-4 col-lg-3">
						<div class="fh__contacts">
							<p class="fh__text">
								Вы хотите сотрудничать с нами?<br> У Вас есть идеи или предложения?<br>  Свяжитесь с нами прямо сейчас!
							</p>
							<p class="fh__text">
								65000,<br> 
								Украина, г. Одесса<br> 
								Ул Базарная, 36
							</p>
						</div>
					</div>
					<div class=" col-md-4 col-lg-3">
						<div class="design">
							<div class="design__icon d-flex justify-content-center align-items-center">

								W
							</div>
							<div class="design__wrap">
								<p class="design__text">
									Дизайн и разработка
								</p>
								<p class="design__text_big">
									КОУЧИНГ ПО ВЕРСТКЕ
								</p>
							</div>
						</div>
						<div class="copyright">
							<p class="copyright__text">
								&copy; Все права защищены
							</p>
							<p class="copyright__text copyright__text_bold">
								LAB Consulting
							</p>
							<a href="mailto:lab-consult.com" class="copyright__text copyright__text_link">
								lab-consult.com
							</a>
						</div>
					</div>
					<div class="d-block d-sm-none d-lg-block col-lg-2  align-items-center justify-content-end">
						<button class="button button_footer d-flex align-items-center" type="button">
							<i class="fas fa-phone button__icon"></i>
							<p class="button__text">
								Заказать звонок
							</p>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- modal window -->
	<div style="display: none;">
	    <div class="box-modal" id="Modal">
	        <div class="box-modal_close arcticmodal-close"></div>
	        	<h3 class="box-modal__title">
	        		Заказать обратный звонок
	        	</h3>
	        	<p class="box-modal__text">
	        		Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
	        	</p>
	        	<form action="#" class="form">
					<input class="form__input" type="text" name="name" placeholder="Имя" required>
					<input class="form__input" type="email" name="email" placeholder="E-mail" required>
					<input  class="form__input" type="tel" name="phone" placeholder="Телефон" required>
					<button class="button button_modal" type="submit">
							<i class="fas fa-phone button__icon button__icon_modal"></i>
							<p class="button__text button__text_modal">
								Заказать звонок
							</p>
					</button>	
				</form>
	    </div>
	</div>
	<!-- jQuery -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<!-- bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- slick slider -->
	<script src="js/slick.min.js"></script>
	<!-- modal window -->
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
</body>
</html>